//
   Created by admin on 2017/5/28.

extends layout
block append head
      script(src="/javascripts/lib/video.min.js")
      link(href="/stylesheets/video-js.css",rel="stylesheet")
block content
    div#AppContainer
    script(src="/javascripts/bundle.js")