//
   Created by admin on 2017/5/28.

extends layout
block append head
block content
    div#folderBrowser
    video#wavPlayer(controls,autoplay,loop)
    canvas#Soundtrack
    script(src="/javascripts/bundle.js")